<!DOCTYPE html>
%html
  %head
    %title important quotes
    %link(rel="stylesheet" href="/stylesheets/main.css")
  %body

    =content

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    %script(src="/js/scripts.js")
