body
  font-family: courier
  font-size: 2em
  text-align: center
  background-color: linen
  color: #080808
  margin: 0
 

h1, h2, h3, h4, h5, h6
  margin: 0

.subtitle
  font-size: 0.5em

#submit
  font-family: courier
  position: relative
  display: inline-block
  border-style: none
  background-color: sandybrown
  width: 10em
  height: 2em
  border-radius: .4em
  margin: .5em auto
  cursor: pointer

#submit:hover
  background-color: sienna

#sentence-container
  display: block
  position: relative
  width: 60%
  margin: 0 auto
  padding: .5em
  border-radius: .1em

#sentence
  display: block
  position: relative


#credit
  display: block
  position: relative
  text-align: right

footer
  position: fixed
  bottom: .5em
  right: .5em
  font-size: .4em

a
  text-decoration: none
  color: sienna
